<tr>
    <td>1</td>
    <td>Luan</td>
    <td>Luan@gmail.com</td>
    <td>4ยบ C</td>
    <td>
        <!-- <a href="/update-aluno" class="btn-border-shadow update"> -->
        <button href="/update-aluno" class="btn-border-shadow update" disabled>
            <span class="text-gradient">
                <i class="fas fa-pencil-alt"></i> 
            </span>
        </button>
        <!-- <a class="btn-border-shadow delete"> -->
        <button class="btn-border-shadow delete" disabled>
            <span class="text-gradient">
                <i class="fas fa-times"></i> 
            </span>
        </button>
    </td>
</tr>