<tr>
    <td>1</td>
    <td>Matemática</td>
    <th>12:00</th>
    <td>
        <!-- <a href="#" class="btn-border-shadow update"> Habilitar depois dos ajustes-->
        <button href="#" class="btn-border-shadow update" disabled>
            <span class="text-gradient">
                <i class="fas fa-pencil-alt"></i> 
            </span>
        </button>
        <!-- <a class="btn-border-shadow delete"> -->
        <button class="btn-border-shadow delete" disabled>
            <span class="text-gradient">
                <i class="fas fa-times"></i> 
            </span>
        </button>
    </td>
</tr>
